@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
$font: "Roboto", sans-serif;
$color: (
  3: #eb6662,
  4: #1d8f94,
  5: #203d85,
  6: #eb6662,
  7: #1d8f94,
  8: #203d85
);
body,
html {
  font-family: $font;
}

table.container {
  max-width: 800px;
  display: block;
  margin: auto;
  tr {
    &:first-child {
      img {
        width: 150px;
      }
    }
    box-sizing: border-box;
    @each $key, $value in $color {
      &:nth-child(#{$key}) {
        background-color: #{$value};
        td {
          div {
            a:hover {
              color: #{$value};
            }
          }
        }
      }
    }
    td {
      &.social {
        img {
          width: 40px;
        }
      }
      img {
        width: 30px;
      }
      img {
        width: 100%;
      }
      div {
        padding: 5% 6%;
      }
      h1 {
        font-size: 20pt;
        text-align: center;
        font-weight: 300;
        line-height: 150%;
        color: #ffffff;
      }
      p {
        font-size: 10pt;
        line-height: 170%;
        text-align: center;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        margin: 20px 0;
      }
      a {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        margin: auto;
        border: 1px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 10pt;
        box-sizing: border-box;
        padding: 9px 18px;
        letter-spacing: 1px;

        &:hover {
          background-color: #ffffff;
          transition: ease all 0.5s;
        }
      }
    }
  }
}
